html, body, ul {
    margin: 0;
    padding: 0;
}

.line-through {
    text-decoration: line-through;
}

.todo-list li {
    position: relative;
}

.todo-list li::before {
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: black;
    left: -15px;
    top: 28px;
}